<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>

    <div>
      <ion-item key={x.name}>
        <ion-label>scrolls up on tab switch mission view</ion-label>
        <ion-toggle> [checked]="setting.value" (ionChange)="updateSetting(setting)"></ion-toggle>
      </ion-item> -->
      <!-- {x.name === settingTypes.SHOW_MISSION_COMPLETED_COLOR &&
          <ion-item key={x.name}>
            <ion-label>Show color if a mission is complete</ion-label>
            <ion-toggle checked={x.value === 'true'}/>
          </ion-item>
        }
        {x.name === settingTypes.THEME &&
          <ion-item key={x.name}>
            <ion-label>Color Themes:</ion-label>
            <ion-select value={x.value}>
              {Object.keys(colorThemes).map((key) =>
                <ion-select-option key={key} value={colorThemes[key as keyof ColorThemes]}>{colorThemesUserText[key as keyof ColorThemes]}</ion-select-option>
              )}
            </ion-select>
          </ion-item>
        }
          <ion-item key={x.name}>
            <ion-label>Color Themes:</ion-label>
            <ion-select value={x.value} onIonChange={e => updateSetting(x, e.detail.value)}>
              {Object.keys(fontThemes).map((key) =>
                <ion-select-option key={key} value={fontThemes[key as keyof FontThemes]}>{fontThemes[key as keyof FontThemes]}</ion-select-option>
              )}
            </ion-select>
          </ion-item>
        } -->
    <!-- </div> -->

    <!-- </IonList>
    <div className="ion-padding">
      <IonButton expand="block" class="ion-no-margin" onClick={()=> onSubmitForm()}
        >
        Update Settings
      </IonButton>
    </div> -->
</ion-content>