<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/missions']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let setting of settings; let i = index;">
      <ion-item *ngIf="setting.name == SettingTypes[SettingTypes.COLOR_THEME]">
        <ion-label>Color Themes:</ion-label>
        <ion-select placeholder="{{setting.value}}" [value]="setting.value"
          (ionChange)="onChangeColorTheme($event.target.value, i)">
          <ion-select-option *ngFor="let colorTheme of ColorThemes | keyvalue: originalEnumOrder"
            [value]="colorTheme.value">
            {{colorTheme.value}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="setting.name == SettingTypes[SettingTypes.FONT_THEME]">
        <ion-label>Font Themes:</ion-label>
        <ion-select placeholder="{{setting.value}}" [value]="setting.value"
          (ionChange)="onChangeFontTheme($event.target.value, i)" (ionChange)="setting.value = $event.target.value">
          <ion-select-option *ngFor="let theme of FontThemes | keyvalue: originalEnumOrder" [value]="theme.value">
            {{theme.value}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="setting.name == SettingTypes[SettingTypes.SHOULD_SCROLL_TO_TOP]">
        <ion-label>Scrolls up on tab switch mission view</ion-label>
        <ion-toggle [checked]="setting.value" (ionChange)="setting.value = $event.detail.checked">
        </ion-toggle>
      </ion-item>

      <ion-item *ngIf="setting.name == SettingTypes[SettingTypes.SHOULD_SHOW_MISSION_COMPLETED_COLOR]">
        <ion-label>Show color if a mission is complete</ion-label>
        <ion-toggle [checked]="setting.value" (ionChange)="setting.value = $event.detail.checked">
        </ion-toggle>
      </ion-item>

      <ion-item *ngIf="setting.name == SettingTypes[SettingTypes.SHOULD_ALERT_DELETE_MISSION]">
        <ion-label>
          Alert when deleting a mission
        </ion-label>
        <ion-toggle [checked]="setting.value" (ionChange)="setting.value = $event.detail.checked">
        </ion-toggle>
      </ion-item>

      <ion-item *ngIf="setting.name == SettingTypes[SettingTypes.SHOULD_ALERT_DELETE_COUNTER]">
        <ion-label>
          Alert when deleting a counter
        </ion-label>
        <ion-toggle [checked]="setting.value" (ionChange)="setting.value = $event.detail.checked">
        </ion-toggle>
      </ion-item>

      <ion-item *ngIf="setting.name == SettingTypes[SettingTypes.SHOULD_STRIKE_COMPLETED_MISSION]">
        <ion-label>
          Strike through completed missions
        </ion-label>
        <ion-toggle [checked]="setting.value" (ionChange)="setting.value = $event.detail.checked">
        </ion-toggle>
      </ion-item>
    </div>


  </ion-list>

  <div className="ion-padding">
    <ion-button expand="block" class="ion-margin" (click)="submit()">
      Update Settings
    </ion-button>
  </div>

</ion-content>