<ion-header>
  <ion-toolbar>
    <ion-title>Mission List</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon icon="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="reorder-three-outline"></ion-icon>
      </ion-button>
      <ion-button id="popover-button">
        <ion-icon icon="ellipsis-vertical" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedSegment" id="segment">
  <ion-segment-button value="Card View">
    <ion-label>Card View</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Notepad View">
    <ion-label>Notepad View</ion-label>
  </ion-segment-button>
</ion-segment>
<!-- ion search -->
<ion-searchbar (ionChange)="onSearchChange($event)" placeholder="Search"></ion-searchbar>

<ion-content scrollEvents="true">
  <swiper (slideChange)="onSlideChange()" (swiper)="setSwiperInstance($event)">
    <ng-template swiperSlide>
      <ion-list>
        <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
        <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
        <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
          <ng-container *ngFor="let mission of filteredMissions; let i = index;">
            <ion-item>
              <app-flipper [customFrontCss]="mission.currentTotalAmount >= mission.targtAmount ? 'card-completed' : ''"
                style="width: 100%;">
                <div front style="display: flex;">
                  <ion-label [routerLink]="['/counters', mission.id]">
                    {{mission.currentTotalAmount}}/{{mission.targetAmount}} {{mission.name}}
                  </ion-label>
                  <ion-label [routerLink]="['/counters', mission.id]">
                    {{mission.percentage + '%'}}
                  </ion-label>
                  <ion-label (click)="onFlip(i)">
                    <ion-icon name="settings-outline"></ion-icon>
                  </ion-label>
                </div>
                <div back style="display: flex;">
                  <ion-label [routerLink]="['/counters', mission.id]">
                    {{mission.currentTotalAmount}}/{{mission.targetAmount}} {{mission.name}}
                  </ion-label>
                  <ion-label [routerLink]="['/counters', mission.id]">
                    {{mission.percentage + '%'}}
                  </ion-label>
                  <ion-label (click)="onFlip(i)">
                    <ion-icon name="settings-outline"></ion-icon>
                  </ion-label>
                </div>
              </app-flipper>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ng-container>
        </ion-reorder-group>
      </ion-list>
    </ng-template>
    <ng-template swiperSlide>
      <ng-container *ngFor="let mission of filteredMissions">
        <div [routerLink]="['/counters', mission.id]">
          <p class="ion-margin">
            {{mission.name}} {{mission.currentTotalAmount}}/{{mission.targetAmount}}
            <ng-container *ngIf="mission.currentTotalAmount >= mission.targetAmount">
              <ion-icon class="icon" name="checkmark-circle-outline"></ion-icon>
            </ng-container>
          </p>
        </div>
      </ng-container>
    </ng-template>
  </swiper>
</ion-content>


<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false" [routerLink]="['create']">Add new Mission</ion-item>
        <ion-item [button]="true" [detail]="false" (click)="filterOptionsPicker()">Filter Options</ion-item>
        <ion-item [button]="true" [detail]="false" (click)="orderOptionsPicker()">Order Options</ion-item>
        <ion-item [button]="true" [detail]="false" [routerLink]="['/settings']">Settings</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>