<ion-header>
  <ion-toolbar color="title">
    <ion-title>Missions</ion-title>
    <ion-buttons slot="end">
      <ion-button id="popover-button">
        <ion-icon icon="ellipsis-vertical" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedSegment" id="segment">
    <ion-segment-button value="Card View">
      <ion-label>Card View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Notepad View">
      <ion-label>Notepad View</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- ion search -->
  <ion-searchbar (ionChange)="onSearchChange($event)" placeholder="Search"></ion-searchbar>
  <swiper class="custom-swiper" (slideChange)="onSlideChange()" (swiper)="setSwiperInstance($event)">
    <ng-template swiperSlide>
      <ng-container *ngFor="let mission of missions; let i = index;">
        <app-flipper>
          <div front>
            <ion-card>
              <ion-card-content>
                <ion-row>
                  <ion-col size="7" (click)="onMissionClick(mission.id)">
                    {{mission.countersAmountTotal}}/{{mission.endAmount}} {{mission.name}}
                  </ion-col>
                  <ion-col size="4">
                    {{mission.percentage + '%'}}
                  </ion-col>
                  <ion-col size="1" (click)="onFlip(i)">
                    <ion-icon name="settings-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>
          <div back>
            <ion-card>
              <ion-card-content>
                <ion-row>
                  <ion-col size="3" (click)="onMissionClick(mission.id)">
                    <div (click)="onEditMissionClick(mission.id)">
                      <ion-icon name="create-outline"></ion-icon>
                      Edit
                    </div>
                  </ion-col>
                  <ion-col size="3">
                    <div (click)="onDeleteMissionClick(mission.id)">
                      <ion-icon name="trash-outline"></ion-icon>
                      Delete
                    </div>
                  </ion-col>
                  <ion-col offset="5" size="1" (click)="onFlip(i)">
                    <ion-icon name="arrow-undo-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>
        </app-flipper>
      </ng-container>
    </ng-template>
    <ng-template swiperSlide>
      <ng-container *ngFor="let x of missions">
        <p class="ion-margin" (click)="onMissionClick(x.id)">
          {{x.name}} {{x.totalAmount}}/{{x.endAmount}}
          <ng-container *ngIf="x.totalAmount >= x.endAmount">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ng-container>
        </p>
      </ng-container>
    </ng-template>
  </swiper>
</ion-content>


<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false">Add new Mission</ion-item>
        <ion-item [button]="true" id="nested-trigger">More Options...</ion-item>
        <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false">Filter</ion-item>
                <ion-item [button]="true" [detail]="false">Order</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
        <ion-item [button]="true" [detail]="false">Settings</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>