<ion-header>
  <ion-toolbar>
    <ion-title>Mission List</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['create']">
        <ion-icon icon="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="filterOptionsPicker()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="orderOptionsPicker()">
        <ion-icon name="reorder-three-outline"></ion-icon>
      </ion-button>
      <ion-button id="popover-button">
        <ion-icon icon="ellipsis-vertical" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false" [routerLink]="['create']">Add new Mission</ion-item>
        <ion-item [button]="true" [detail]="false" (click)="filterOptionsPicker()">Filter Options</ion-item>
        <ion-item [button]="true" [detail]="false" (click)="orderOptionsPicker()">Order Options</ion-item>
        <ion-item [button]="true" [detail]="false" [routerLink]="['/settings']">Settings</ion-item>
        <ion-item [button]="true" [detail]="false" (click)="isReorderEnabled = !isReorderEnabled">Reorder</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedSegment" id="segment">
  <ion-segment-button value="Card View">
    <ion-label>Card View</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Notepad View">
    <ion-label>Notepad View</ion-label>
  </ion-segment-button>
</ion-segment>
<!-- ion search -->
<ion-searchbar (ionChange)="onSearchChange($event)" placeholder="Search"></ion-searchbar>

<ion-content scrollEvents="true">
  <swiper (slideChange)="onSlideChange()" (swiper)="setSwiperInstance($event)">
    <ng-template swiperSlide>
      <ion-list>
        <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
        <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
        <ion-reorder-group [disabled]="isReorderEnabled" (ionItemReorder)="handleReorder($any($event))">
          <ng-container *ngFor="let mission of filteredMissions; let i = index;">
            <div class="flip-container ion-margin-start ion-margin-end ion-margin-bottom">
              <div class="flipper" [ngClass]="{'flip': mission.isFlipped}">
                <!-- Front of card -->
                <div class="front" [routerLink]="['/counters', mission.id]">
                  <ion-item lines="none" class="custom-ion-item" [color]="mission.isCompleted() ? 'success' : ''">
                    <div>
                      <div>{{mission.name}} {{ mission.orderIndex}}</div>
                      <ion-label>
                        <small>{{mission.currentTotalAmount}}/{{mission.targetAmount}}</small>
                      </ion-label>
                    </div>
                    <div slot="end" class="ion-margin-start">{{ (mission.currentTotalAmount / mission.targetAmount *
                      100) | number:
                      '1.0-0' }}%</div>
                    <ion-button *ngIf="!isReorderEnabled" fill="clear" slot="end"
                      (click)="onMissionSettingsClick($event, mission)" class="reorder-icon md hydrated">
                      <ion-icon name="settings-outline"></ion-icon>
                    </ion-button>
                    <ion-reorder slot="end"></ion-reorder>
                  </ion-item>
                </div>
                <!-- Back of card -->
                <div class="back">
                  <ion-item lines="none" class="custom-ion-item">
                    <div>
                      <div>Back of Card</div>
                    </div>
                    <ion-button fill="clear" slot="end" class="reorder-icon md hydrated"
                      (click)="mission.isFlipped = !mission.isFlipped">
                      <ion-icon name="arrow-back-outline"></ion-icon>
                    </ion-button>
                  </ion-item>
                </div>
              </div>
            </div>
          </ng-container>
        </ion-reorder-group>
      </ion-list>
    </ng-template>
    <ng-template swiperSlide>
      <ng-container *ngFor="let mission of filteredMissions">
        <div [routerLink]="['/counters', mission.id]">
          <p class="ion-margin">
            {{mission.name}} {{mission.currentTotalAmount}}/{{mission.targetAmount}}
            <ng-container *ngIf="mission.isCompleted()">
              <ion-icon class="icon" name="checkmark-circle-outline" color="success"></ion-icon>
            </ng-container>
          </p>
        </div>
      </ng-container>
    </ng-template>