.icon {
  display: inline-block;
  font-size: 30px;
  color: var(--ion-color-success,#3dbd23 );
  vertical-align: middle;
 }

 @media (prefers-color-scheme: dark) {
  :root {
    .segment-button-checked {
      color: white;
     }
  }
}

body.dark {
  .segment-button-checked {
    color: white;
   }
}

