.icon {
  display: inline-block;
  font-size: 30px;
  color: var(--ion-color-success,#3dbd23 );
  vertical-align: middle;
 }

 .marginx {
  margin: 10px;
 }

.labelx {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}
//first child
.labelx > *:first-child {
  width: 60%;
}

//second child
.labelx > *:nth-child(2) {
  width: 40%;
  text-align: left;
}


ion-item {
  --padding-start: 5px;
  --inner-padding-end: 5px;
}