<ion-header>
  <ion-toolbar color="title">
    <ion-title>Update Mission</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/missions']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">
          Mission Name <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Amount To Reach <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="number" formControlName="endAmount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Description
        </ion-label>
        <ion-input required type="text" formControlName="description"></ion-input>
      </ion-item>
    </ion-list>
    <div className="ion-padding">
      <ion-button expand="block" type="submit">
        Update mission
      </ion-button>
    </div>
  </form>
</ion-content>