<ion-header>
  <ion-toolbar color="title">
    <ion-title>{{mission.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="popover-button">
        <ion-icon icon="ellipsis-vertical" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin ion-text-center">
    <ion-row>
      <ion-col *ngFor="let x of [1,2,3,4,5]">
        <ion-button (click)="onCreateCounter(x)">
          {{x}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let x of [6,7,8,9,10]">
        <ion-button (click)="onCreateCounter(x)">
          {{x}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <!-- <form [formGroup]="differentAmountForm" (ngSubmit)="onAddDifferentCounter()">
            <ion-label position="floating">Click to add a different amount</ion-label>
            <ion-input type="number"></ion-input>
          </form> -->

          <form [formGroup]="checkoutForm">

            <div>
              <label for="name">
                Name
              </label>
              <input id="name" type="text" formControlName="name">
            </div>

            <div>
              <label for="address">
                Address
              </label>
              <input id="address" type="text" formControlName="address">
            </div>

            <button class="button" type="submit">Purchase</button>

          </form>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let counter of counters">
    {{counter|json}}
  </div>
</ion-content>