<ion-header>
  <ion-toolbar>
    <ion-title>{{mission.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/missions']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin ion-text-center">
    <ng-container *ngFor="let numbers of numberButtons">
      <ion-row size="5">
        <ion-col *ngFor="let x of numbers">
          <ion-button (click)="onNumberButton(x)" expand="block">
            {{x}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col>
        <form [formGroup]="differentAmountForm" (ngSubmit)="onAddDifferentCounter()">
          <ion-list>
            <ion-item>
              <ion-label>Add a different amount</ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="Enter amount" formControlName="amount" [clearInput]="true">
              </ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <h1>{{countersCalculation.total}}</h1>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-grid class="information-grid">
              <ion-row>
                <ion-col>
                  <ion-text>Amount done today: {{countersCalculation.amountDoneToday}}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text>Start time today: {{countersCalculation.startTimeToday | date:'HH:mm'}}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text>End time today: {{countersCalculation.endTimeToday | date:'HH:mm:'}}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text>Time spend: {{countersCalculation.timeBetweenToday | date:'HH:mm'}}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text>Units left: {{countersCalculation.unitsLeft}}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text>Experience currently: {{countersCalculation.experienceCurrently}}%</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text>Experience per unit: {{countersCalculation.experiencePerUnit}}%</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text>Experience per 10 units: {{countersCalculation.experiencePer10Unit}}%</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text>Amount to do for 1%: {{countersCalculation.amountToDoFor1Percent}} units</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <!-- button filter options -->
    <ion-row>
      <ion-col>
        <ion-button (click)="onFilter('all')" expand="block" [disabled]="selectedFilter === 'all'">
          All
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onFilter('today')" expand="block" [disabled]="selectedFilter === 'all'">
          Today
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onFilter('week')" expand="block" [disabled]="selectedFilter === 'all'">
          Week
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onFilter('month')" expand="block" [disabled]="selectedFilter === 'all'">
          Month
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onFilter('custom')" expand="block" [disabled]="selectedFilter === 'custom'">
          Custom
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="filteredCounters.length > 0">
    <ion-grid class="ion-margin ion-text-center">
      <ion-row style="border-bottom: groove">
        <ion-col size="3">
          <ion-label>amount</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>date</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>Options:</ion-label>
        </ion-col>
      </ion-row>
      <div *ngFor="let counter of filteredCounters">
        <ion-row style="border-bottom: groove">
          <ion-col size="3">
            {{counter.amount}}
          </ion-col>
          <ion-col size="6">
            {{counter.createdAt | date:'dd/MM/yyyy HH:mm'}}
          </ion-col>
          <ion-col size="3">
            <ion-icon name="calendar-outline" class="ion-margin-end" (click)="onEditDateClick(counter.id)"></ion-icon>
            <ion-icon name="pencil-outline" class="ion-margin-end" (click)="onEditAmountClick(counter.id)"></ion-icon>
            <ion-icon name="trash-outline" (click)="onDeleteClick(counter.id)"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>