.information-grid {
    ion-row > ion-col {
    display:flex;
    flex-direction: row;  

    ion-text {
      margin-right: 10px;
      border-style:solid 1px;

    }
  }
  }

  @media (min-width: 281px) {
    .option_icon {
      //ion margin right
      margin-right: 10px;
    }
  }

  .updated-counter {
    //color primary
    background-color: var(--ion-color-success);
  }